2016-2(b).xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MovieLand">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Actor" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="Playedln" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MovieTitle type="xs:string" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Movie" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" type="xs:string"/>
							<xs:element name="Actor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ActorName" type="string" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:key name="pkActorName">
		<xs:selector xpath="./Actor/Name"/>
		<xs:field xpath="."/>
	</xs:key>
	<xs:key name="pkMovieTitle">
		<xs:selector xpath="./Movie/Title"/>
		<xs:field xpath="."/>
	</xs:key>
	<xs:keyref name="fk_MovieActorsActorName_ref_ActorName" refer="pkActorName">
		<xs:selector xpath="./Movie/Actors/ActorName"/>
		<xs:field xpath="."/>
	</xs:keyref>
	<xs:keyref name="fk_ActorPlayedInMovieTitle_ref_MovieTitle" refer="pkMovieTitle">
		<xs:selector xpath="./Actor/PlayedIn/MovieTitle"/>
		<xs:field xpath="."/>
	</xs:keyref>
</xs:schema>        
